<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/mystyle.css" rel="stylesheet">
</head>
<body>
    <h1>Hello HTML</h1>
    <div class="dropdown" id="dropdown">
        <button>Menu</button>
        <div class="dropdown-options">
            <a href="#">Chicken</a>
            <a href="#">Pork</a>
            <a href="#">Steak</a>
            <a href="#">Beef</a>
            <a href="#">Tukey</a>
            <a href="#">Lamb</a>
        </div>
    </div>
    <img src='/IMG/dog.jpg' alt="">
</body>
</html>